

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* position:relative; */
    min-height:100%;
}
.wrapper{
    margin-top: 10rem;
    width: 100%;
    display: flex;
}
.wrapper-info-customer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
}
.info-customer{
    margin: 0 auto;
    line-height: 2rem;
}
.wrapper-qr-code{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;

}
.wrapper-qr-code span{
    margin-bottom: 1rem;
}
.wrapper-qr-code img {
    height: 14rem;
    width: 14rem;
}
.footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.4rem !important;
}
.search{
    display: none !important;
}

/* checkout_process.css */

.back-button {
    display: block;
    margin: 5rem auto; /* Center the button */
    padding: 10px 20px;
    width: 15rem; /* Set the width */
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #45a049;
}
