body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.card {
    height: 30rem;
    flex: 1;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.card img {
    max-width: 200px;
    margin-right: 20px;
}

.card div {
    flex-grow: 1;
}

.card h3 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}
input[type='number']{
    border-bottom:1px solid #000 ;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.search{
    display: none !important;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.4rem !important;
}