/* process_purchase.css */

/* Style for the left side */
.process_purchase {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.success-message{
    font-size: x-large;
    margin: 2rem;
}

.left {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.left .image{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.left img {
    display: block;
    margin-bottom: 15px;
}

/* Style for the right side */
.right {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Style for the form */
.right form {
    width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Center content vertically */
}

.right label,
.right input,
.right select {
    margin-bottom: 15px;
}

.right input,
.right select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.right input[name="name"],input[name="address"],input[name="phone"]{
    border-bottom: 1px solid #000;
}

.right input[type="submit"] {
    margin-top: 4rem;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.right input[type="submit"]:hover {
    background-color: #45a049;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.4rem !important;
}
.search{
    display: none !important;
}