body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 30rem;
    flex: 1;
    max-width: 37.5rem;
    margin: 5rem auto 10rem; /* Updated bottom margin to 10rem */
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h2.text {
    margin-bottom: 1.25rem;
    color: #333;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 0.9375rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.has-error span {
    color: red;
}

.btn-primary {
    background-color: #4caf50;
    color: #fff;
    padding: 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
}

.btn-primary:hover {
    background-color: #45a049;
}

.search {
    display: none !important;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
}

.has-error>span {
    display: block;
    z-index: 1;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.4rem !important;
}